@mixin disp(){
	display: flex;
	justify-content: center;
	align-items: center;
  }
  @mixin cent() {
	  text-align: center;
  }
  @media screen and (max-width:768px){
	  .explore{
		  flex-direction: column;
		  width: 100%;
		  justify-content: center;
		  .left{
			  width: 100%;
			  flex:auto;
			  h3{
				@include cent;
			}
			h1{
				@include cent;
			}
			p{
				width: 100%;
				@include cent;
			}
		  }
		  .right{
			margin-top: 20px;
		  }
	  }
  }
.homepage{
	@include disp;
	height: 100vh;
	.explore{
	  display: flex;
	  justify-content: space-between;
	  width: 80%;
	  .left{
		flex: 1;
		h3{
		  font-size: 2rem;
		  color: gray;
		  // text-align: center;
		}
		h1{
		  font-size: 5rem;
		  color: white;;
		  margin-block: 10px;
		  // text-align: center;
		}
		div{
			display: flex;
			justify-content: center;
			color: gray;
			line-height: 200%;
		}
	  }
	  .right{
		flex: 1;
		@include disp;
		div{
		  width: 200px;
		  height: 200px;
		  border-radius: 50%;
		  background-color: white;
		  color: gray;
		  @include disp;
		  font-size: 1.5rem;
		  cursor: pointer;
		}
	  }
	}
	
  }